{% extends '::base.html.twig' %}

	{% block title %}See the profil{% endblock %}

	{% block body %}

		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Profil of {{ friend.name|capitalize }} </strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                                        
                    <!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							  	 {{ friend.name|capitalize }}
							</button>

							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">{{ friend.username|capitalize }}</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							            <table style="width:100%" class="table-stripped table-bordered">
										  <caption>{{ friend.name|upper }}</caption>
										  <tr>
										    <th>Name</th>
                                            <th>Username</th>
                                            <th>Mail</th>
                                            <th>Age</th>
                                            <th>Race</th>
                                            <th>Family</th>
                                            <th>Food</th>                                                										  
										  </tr>
										  <tr>                                                
                                            <td>{{ friend.name|capitalize }}</td>
                                            <td>{{ friend.username|capitalize }}</td>
										    <td>{{ friend.email }}</td>
										    <td>{{ friend.age }}</td>
										    <td>{{ friend.race }}</td>
										    <td>{{ friend.family }}</td>
										    <td>{{ friend.food }}</td>                                          
										  </tr>											  
										</table>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>							        
							      </div>
							    </div>
							  </div>
							</div>
                    	
                    <hr>
                </div>
            </div>
        </div>
       
	{% endblock %}